* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  padding-top: 217px;
  height: 735px;
  background-image: url(img/bgrimg.png);
  background-size: cover;
  background-position: center;
}
.top_title {
  display: flex;
  width: 788.778px;
  height: 125.007px;
  flex-direction: column;
  justify-content: center;
}
.top_title_text {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top_subtitle {
  padding-top: 32px;
  width: 481px;
}
.top_subtitle_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
}
.top_subtitle_text_fat {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top_button {
  margin-top: 44px;
  width: 234.063px;
  height: 48.603px;
  border-radius: 30px;
  background: #9C0332;
  box-sizing: border-box;
  border: 1px solid #9C0332;
  outline: none;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all, 0.3s;
}
.top_button:hover {
  background: #EB443F;
}

.content-box {
  padding-top: 128px;
  padding-bottom: 128px;
  background: #000915;
  display: flex;
  gap: 32px;
}
.content-box_game {
  width: 379px;
  height: 264px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  display: flex;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 32px;
  padding-bottom: 32px;
  transition: all, 0.1s;
  box-sizing: border-box;
}
.content-box_game:hover {
  border: 3px solid #44D2FF;
  border-radius: 16px;
}
.content-box_game1 {
  background-image: url(img/Game1.png);
}
.content-box_game2 {
  background-image: url(img/Game2.png);
}
.content-box_game3 {
  background-image: url(img/Game3.png);
}

.seasons-box {
  background: #000915;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.seasons-box_content {
  width: 584px;
  padding-top: 282px;
  padding-bottom: 282px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.seasons-box_content_title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.seasons-box_content_subtitle {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
}
.seasons-box_content_link_button {
  border-radius: 30px;
  background: #9C0332;
  box-sizing: border-box;
  border: 1px solid #9C0332;
  outline: none;
  width: 234.063px;
  height: 48.603px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.seasons-box_content_link_button:hover {
  background: #EB443F;
}
.seasons-box_img {
  padding-top: 233.5px;
  padding-bottom: 233.5px;
}
.seasons-box_img-mobile {
  display: none;
}

.remember-word {
  background: #000915;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.remember-word_content {
  width: 584px;
  padding-top: 282px;
  padding-bottom: 282px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.remember-word_content_title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.remember-word_content_subtitle {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
}
.remember-word_content_link_button {
  border-radius: 30px;
  background: #9C0332;
  box-sizing: border-box;
  border: 1px solid #9C0332;
  outline: none;
  width: 234.063px;
  height: 48.603px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.remember-word_content_link_button:hover {
  background: #EB443F;
}
.remember-word_img {
  padding-top: 233.5px;
  padding-bottom: 233.5px;
}
.remember-word_img-mobile {
  display: none;
}

.puzzles {
  background: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(<path-to-image>), lightgray 50%/cover no-repeat, #000915;
  background-image: url(img/bgrPuzz.png);
  height: 800px;
}
.puzzles_content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 276px;
  gap: 32px;
}
.puzzles_content_title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.puzzles_content_subtitle {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 177.778% */
}
.puzzles_content_link_button {
  border-radius: 30px;
  background: #9C0332;
  box-sizing: border-box;
  border: 1px solid #9C0332;
  outline: none;
  width: 234.063px;
  height: 48.603px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.puzzles_content_link_button:hover {
  background: #EB443F;
}

.footer {
  background-color: #000915;
  border-top: 1px solid rgba(184, 212, 255, 0.2);
}
.footer_text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

@media (max-width: 767px) {
  .top {
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
    background-image: url(img/bgrimg2.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top_title {
    display: flex;
    width: 343px;
    flex-direction: column;
    justify-content: center;
  }
  .top_title_text {
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .top_subtitle {
    width: 343px;
    padding-top: 0;
  }
  .top_subtitle_text {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
  }
  .top_subtitle_text_fat {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .top_button {
    margin-top: 0;
  }
  .content-box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .content-box_game {
    width: 343px;
  }
  .seasons-box {
    justify-content: center;
  }
  .seasons-box_content {
    padding-top: 51px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }
  .seasons-box_content_title {
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  .seasons-box_content_subtitle {
    width: 343px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
  }
  .seasons-box_img {
    display: none;
  }
  .seasons-box_img-mobile {
    display: flex;
    margin-bottom: 85px;
  }
  .remember-word {
    justify-content: center;
  }
  .remember-word_content {
    padding-top: 51px;
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }
  .remember-word_content_title {
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  .remember-word_content_subtitle {
    width: 343px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px; /* 157.143% */
  }
  .remember-word_img {
    display: none;
  }
  .remember-word_img-mobile {
    display: flex;
    margin-bottom: 85px;
  }
  .puzzles {
    background-image: url(img/bcgrMobile);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .puzzles_content {
    padding-top: 51px;
  }
  .puzzles_content_title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  .puzzles_content_subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    width: 343px;
  }
  .footer {
    border-top: none;
  }
}/*# sourceMappingURL=style.css.map */