*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;

}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.top{
    padding-top: 217px;
    height: 735px;
    background-image: url(img/bgrimg.png);
    &_title{
        display: flex;
        width: 788.778px;
        height: 125.007px;
        flex-direction: column;
        justify-content: center;
        &_text{
            color: #FFF;
            font-family: 'Montserrat';
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &_subtitle{
        padding-top: 32px;
        width: 481px;
        &_text{
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px; /* 177.778% */
            &_fat{
                color: #FFF;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
            }
        }
    }
    &_button{
        margin-top: 44px;
        width: 234.063px;
        height: 48.603px;
        border-radius: 30px;
        background: #9C0332;
        box-sizing: border-box;
        border: 1px solid #9C0332;
        outline: none;
        color: #FFF;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all, 0.3s;
        &:hover{
            background: #EB443F;
        }
    }
}
.content-box{
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;
    display: flex;
    gap: 32px;
    &_game{
        width: 379px;
        height: 264px;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
        display: flex;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 32px;
        padding-bottom: 32px;
        transition: all, 0.1s;
        box-sizing: border-box;
        &:hover{
            border: 3px solid #44D2FF;
            border-radius: 16px;
        }
    }
    &_game1{
        background-image: url(img/Game1.png);
    }
    &_game2{
        background-image: url(img/Game2.png);
    }
    &_game3{
        background-image: url(img/Game3.png);
    }

}
.seasons-box{
    background: #000915;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &_content{
        width: 584px;
        padding-top: 282px;
        padding-bottom: 282px;
        display: flex;
        gap: 32px;
        flex-direction: column;
        &_title{
            color: #FFF;
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &_subtitle{
            color: #FFF;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 32px; /* 177.778% */
        }
        &_button{
            border-radius: 30px;
            background: #9C0332;
            box-sizing: border-box;
            border: 1px solid #9C0332;
            outline: none;
            width: 234.063px;
            height: 48.603px;

            &_link{
                color: #FFF;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
            }
            &:hover{
                background: #EB443F;
            }
        }
    }
    &_img{
        padding-top: 233.5px;
        padding-bottom: 233.5px;
    }
}